<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>edit</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h2 class="headingLine">Edit Your Content</h2>
    <div class="editPost"> 
    <h4>Post Username:- @<%= post.username %></h4>
    <!-- <h4>post id:- <%= post.id %></h4> -->
    <form method="post" action="/posts/<%=post.id%>?_method=PATCH">
        <textarea name="content" cols="30" rows="10"><%= post.content %></textarea>
    <br><br><br>
    <button>submit</button>
</div>
   
</form>
</body>
</html>